#gridPane {
    -fx-background-color: rgb(250,250,250);
    -fx-border-color: gray;
    -fx-background-image: url("descarga2.jpg");
    
}

#titulo {
    -fx-text-fill: blue;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

#label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#button {
    //-fx-background-color: rgb(4, 193, 249);
    -fx-border-color: skyblue;
    -fx-font-size: 12px;
    -fx-border-radius: 3px;
    -fx-padding: 10px 30px 10px 30px;
    -fx-text-fill: black;
    //-fx-font-weight: bold;
    //-fx-font: bold italic 20pt "Arial";
    -fx-font-family: "Courier New";
    -fx-background-image: url("descarga3.jpg");
    
}   
        
#fondo {
    -fx-background-image: url("descarga4.jpg");
    -fx-background-color: rgba(100%, 0, 0, 1.0);
    
    }



